[submodule "reference/SC2GameData"]
	path = reference/sc2mapster/SC2GameData
	url = https://github.com/SC2Mapster/SC2GameData.git
[submodule "reference/awesome-sc2-ai"]
	path = reference/awesome-sc2-ai
	url = https://github.com/aiarena/awesome-sc2-ai.git
[submodule "reference/sc2-galaxy-toolkit"]
	path = reference/sc2-galaxy-toolkit
	url = https://github.com/sc2-arcade-watcher/sc2-galaxy-toolkit.git
[submodule "reference/SC2-Neuro-API-Integration"]
	path = reference/SC2-Neuro-API-Integration
	url = https://github.com/ArthurWiese/SC2-Neuro-API-Integration.git
[submodule "reference/SC2-Neuro-WoL-Integration"]
	path = reference/SC2-Neuro-WoL-Integration
	url = https://github.com/ArthurWiese/SC2-Neuro-WoL-Integration.git
[submodule "reference/ares-sc2"]
	path = reference/ares-sc2
	url = https://github.com/AresSC2/ares-sc2.git
[submodule "reference/python-sc2"]
	path = reference/python-sc2
	url = https://github.com/BurnySc2/python-sc2.git
[submodule "docs/kb-sources"]
	path = docs/kb-sources
	url = ./docs/kb-sources
[submodule "reference/sc2layout-schema"]
	path = reference/sc2mapster/sc2layout-schema
	url = https://github.com/SC2Mapster/sc2layout-schema.git
[submodule "reference/blizzard-tutorials"]
	path = reference/sc2mapster/blizzard-tutorials
	url = https://github.com/SC2Mapster/blizzard-tutorials.git
[submodule "reference/mkdocs-sc2"]
	path = reference/sc2mapster/mkdocs-sc2
	url = https://github.com/SC2Mapster/mkdocs-sc2.git
[submodule "reference/sc2mapster-docs-generator"]
	path = reference/sc2mapster/sc2mapster-docs-generator
	url = https://github.com/SC2Mapster/docs-generator.git
[submodule "reference/sc2mapster-tools"]
	path = reference/sc2mapster/sc2mapster-tools
	url = https://github.com/SC2Mapster/tools.git
[submodule "reference/sc2mapster-github-io"]
	path = reference/sc2mapster/sc2mapster-github-io
	url = https://github.com/SC2Mapster/sc2mapster.github.io.git
[submodule "reference/sc2mapster-crawler"]
	path = reference/sc2mapster/sc2mapster-crawler
	url = https://github.com/SC2Mapster/sc2mapster-crawler.git
[submodule "reference/SC2BW"]
	path = reference/SC2BW
	url = https://github.com/maverck/SC2BW.git
[submodule "reference/Night-of-the-Dead"]
	path = reference/Night-of-the-Dead
	url = https://github.com/ArcanePariah/Night-of-the-Dead.git
[submodule "reference/Starcraft-2-Data-Wizards"]
	path = reference/Starcraft-2-Data-Wizards
	url = https://github.com/ArcanePariah/Starcraft-2-Data-Wizards.git
[submodule "reference/Cerebrates"]
	path = reference/Cerebrates
	url = https://github.com/Alzarath/Cerebrates.git
[submodule "reference/SC2plusSCBW"]
	path = reference/SC2plusSCBW
	url = https://github.com/abrahamYG/SC2plusSCBW.git
[submodule "tools/sc2api-baseline"]
	path = tools/sc2api-baseline
	url = https://github.com/SIGEER2222/sc2api-baseline.git
