[submodule "reference/SC2GameData"]
	path = reference/SC2GameData
	url = https://github.com/SC2Mapster/SC2GameData.git
[submodule "reference/awesome-sc2-ai"]
	path = reference/awesome-sc2-ai
	url = https://github.com/aiarena/awesome-sc2-ai.git
[submodule "reference/sc2-galaxy-toolkit"]
	path = reference/sc2-galaxy-toolkit
	url = https://github.com/sc2-arcade-watcher/sc2-galaxy-toolkit.git
[submodule "reference/SC2-Neuro-API-Integration"]
	path = reference/SC2-Neuro-API-Integration
	url = https://github.com/ArthurWiese/SC2-Neuro-API-Integration.git
[submodule "reference/SC2-Neuro-WoL-Integration"]
	path = reference/SC2-Neuro-WoL-Integration
	url = https://github.com/ArthurWiese/SC2-Neuro-WoL-Integration.git
[submodule "reference/ares-sc2"]
	path = reference/ares-sc2
	url = https://github.com/AresSC2/ares-sc2.git
[submodule "reference/python-sc2"]
	path = reference/python-sc2
	url = https://github.com/BurnySc2/python-sc2.git
[submodule "docs/kb-sources"]
	path = docs/kb-sources
	url = ./docs/kb-sources